version: "2"

services:
  neo4j_nqc:
    container_name: neo4j_nqc
    image: agrdocker/agr_neo4j_env:develop
    volumes:
      - dbstore:/data
      - dbstore:/logs
    ports:
      - "7474:7474"
      - "7687:7687"
    networks:
      - esnet
    environment:
      - NEO4J_dbms_memory_heap_maxSize=1024
  agr_loader:
    image: agrdocker/agr_loader_run:develop
    networks:
      - esnet
    environment:
      - TEST_SET=False

  agr_loader_test:
    image: agrdocker/agr_loader_run:develop
    networks:
      - esnet
    environment:
      - TEST_SET=True

networks:
  esnet:

volumes:
  dbstore:
    driver: local
