neotime==1.7.2
py2neo
neo4j-driver
ijson
pytest
jsonschema
pyyaml
urllib3
xmltodict
git+https://github.com/alliance-genome/agr_genedescriptions.git@v2.1.1#egg=genedescriptions
git+https://github.com/valearna/ontobio.git@logging_hotfix#egg=ontobio
boto3
coloredlogs
verboselogs
cerberus
jsonref
argparse
jsonmerge
requests
xmltodict
