neotime==1.7.2
py2neo
neo4j-driver
ijson==2.4
pytest
jsonschema
pyyaml
urllib3==1.24.2
xmltodict
git+https://github.com/alliance-genome/agr_genedescriptions.git@v3.1.0#egg=genedescriptions
git+https://github.com/alliance-genome/agr_file_generator.git@8b47011
ontobio==1.11.4
boto3
coloredlogs
verboselogs
cerberus
jsonref
argparse
jsonmerge
requests
xmltodict
biopython
pprint
pyfaidx
pytest-parallel
pylint_venv==2.0.0
pylint==2.4.4
pytest-xdist
