neotime==1.7.4
py2neo
cryptography==3.3.1 #cryptography required for py2neo, but current version (3.4.4 at 2021/02/11) causes conflicts with pip version
neo4j-driver
ijson==2.4
pytest
jsonschema
PyYAML>=5.1
urllib3==1.26.13
xmltodict
git+https://github.com/alliance-genome/agr_genedescriptions.git@v3.2.5#egg=genedescriptions
prefixcommons==0.1.11a0
ontobio==1.20.0
boto3
coloredlogs
verboselogs
cerberus
jsonref
argparse
jsonmerge
requests
xmltodict
biopython
pyfaidx
pytest-parallel
pylint_venv==2.0.0
pylint==2.4.4
pytest-xdist
pysam==0.16.0.1
numpy==1.21.2
